.DS_Store
/logs
/local
/OpenComputersMod-*.dylib
/journeymap
/config/jei/worldSettings.cfg
/options.txt
/saves
/usercache.json
/usernamecache.json
/crash-reports
/BotaniaVars.dat
/dumps
/schematics
/screenshots
/servers.dat
/config/splash.properties
/minecraftinstance.json
/mods/Schematica-*
/mods/WorldEdit CUI Forge Edition 2-*
